#
# (c) 2023-2024 CERN for the benefit of the ACTS project
#
# Mozilla Public License Version 2.0
#
*/
*.tar.gz
*.md5
cca_test
detray_simulation
geometries
odd
single_module
tml_detector
tml_full
tml_pixel_barrel
tml_pixels
two_modules
